body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  background-image: url('../img/fondo.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

main {
  flex: 1 0 auto;
}

.filter {
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.icons {
  color: white;
}

.navbar {
  padding-left: 15px;
  padding-right: 15px;
}

.botonFloat {
  width: 40px !important;
}
.wavesEffect {
  background-color: rgba(121, 85, 72, 0.65);
}
#modal1,
#modal2 {
  background-color: #2d0f57;
}

#logo {
  margin-top: 5px;
  width: 55px;
  height: 55px;
}
