body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  background-image: url('../img/fondo.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

main {
  flex: 1 0 auto;
}

.filter {
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.icons,
.yellowText {
  color: #eddf51 !important;
}

.navbar {
  padding-left: 15px;
  padding-right: 15px;
}

.botonFloat {
  width: 40px !important;
}

.m0 {
  margin: 0px !important;
}
.mt15 {
  margin-top: 15px;
}

.mr15 {
  margin-right: 15px;
}
.navTitles:hover {
  color: #eddf51;
}
#modal1,
#modal2,
#modal-footer1 {
  background-color: #2d0f57;
}

#logo {
  margin-top: 5px;
  width: 55px;
  height: 55px;
}
